/* Addition component */
.incorrect {
  color: red;
}

/* Counter component */
.counter,
.todo-list,
.currency-converter {
  width: 30%;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.counter button {
  outline: none;
  border: none;
  background-color: blue;
  color: white;
  padding: 0.5rem 1.2rem;
  margin: 0.5rem;
  cursor: pointer;
}

.counter button:hover {
  background-color: lightblue;
  color: blue;
}
/* Todo list component */
.todo-list ul {
  list-style-type: none;
}

.input-styles {
  border: 1px solid #333;
  border-radius: 0.3rem;
  padding: 0.25rem;
  width: 15rem;
}

select {
  margin-left: 0.5rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}
